.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    border: 20px;
    border-color: brown;
}

.display{
    display: flex;
    min-width: 240px;
    min-height: 80px;
    background-color:bisque;
    border-color: tomato;
    border: 20px;
    justify-content: center;
    align-items: center;
}

#buttons{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

button{
    min-width: 60px;
    min-height: 60px;
}